.simple-card {
    border: none !important;
    border-radius: 20px;
    font-size: 1rem;
    width: 100%;
    &.header- {
        &black{
            >.ant-card-head {
                background-color: #191718 !important;
                color: #FAFAFA;
            }
        }
    }
    &.borderRadius {
        border-radius: 10px !important;
        >.ant-card-head{
            border-radius: 15px 15px 0 0;   
        }
    }
    &.sm{ width: 280px !important;}
    &.md{width: 390px !important;}
}