.home-caro {
    [class^='item'] {
        height: 450px;
    }

    .first {
        background-color: black;
        background-image: url("../assets/images/football1.jpg");
        background-size: cover;
        background-position: center;
    }
    .second {
        background-image: url("../assets/images/football2.jpg");
        background-size: cover;
        background-position: bottom;
    }
    .third {
        background-image: url("../assets/images/football3.jpg");
        background-size: cover;
        background-position: center;
    }
}