.home-caro {
    [class^='item'] {
        background-color: black;
        height: 360px;
    }

    .fisrt {
        background-color: black;
    }
    .second {
        background-color: red;
    }
    .third {
        background-color: blue;
    }
}